
data/reanalysis/.DS_Store
data/.DS_Store
*.nc
*.csv
*.pyc
*.pyc
*.xml
*.cpg
*.dbf
*.prj
*.shp
*.shx
data/wind_data/.DS_Store
data/results/.DS_Store
data/reanalysis/train/.DS_Store
data/reanalysis/test/.DS_Store
data/reanalysis/era5/.DS_Store
data/reanalysis/.DS_Store
data/.DS_Store
.DS_Store
