
data/reanalysis/.DS_Store
data/.DS_Store
*.nc
*.csv
*.pyc
*.pyc
*.xml
*.cpg
*.dbf
*.prj
*.shp
*.shx
data/wind_data/.DS_Store
data/results/.DS_Store
data/reanalysis/train/.DS_Store
data/reanalysis/test/.DS_Store
data/reanalysis/era5/.DS_Store
data/reanalysis/.DS_Store
data/.DS_Store
.DS_Store
plots/bcf_comp.png
plots/cor_cf.png
plots/era5_anaylsis.png
plots/factors.png
plots/full_error.png
plots/month_change_error.png
plots/month_error.png
plots/obs_cf.png
plots/offset.png
plots/region_cf.png
plots/regions.png
plots/scalar.png
plots/turb_c.png
plots/turb_loc.png
plots/unc_cf.png
data/wind_data/.DS_Store
data/results/.DS_Store
data/wind_data/.DS_Store
data/reanalysis/.DS_Store
.DS_Store
data/.DS_Store
data/bias_correction/.DS_Store
.DS_Store
data/.DS_Store
data/wind_data/.DS_Store
data/wind_data/DK/.DS_Store
data/wind_data/.DS_Store
data/wind_data/DK/.DS_Store
.ipynb_checkpoints/research_run_and_plot-checkpoint.ipynb
.ipynb_checkpoints/german_obs-checkpoint.ipynb
.ipynb_checkpoints/research_run_and_plot-checkpoint.ipynb
